@import "./locations.css";
@import "./quotes.css";
@import "./tips.css";
@import "./fish.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");


h1,h2,h3,h4,h5,h6 {
  font-family: "Arial", serif;
  letter-spacing: 3px;
}

#container {
    display: flex;
}

.header {
    display: flex;
    border: 20px double rgb(13, 191, 234);
    margin-bottom: .5rem;
}

.siteLogo {
    height: 5rem;
}

.content--left {
    display: flex;
    flex: 10;
    flex-direction: column;
}

.content--right {
    border: 10px solid rgb(89, 9, 37);
    display: flex;
    flex: 10;
    flex-direction: column;
}

.card {
    padding: 5rem;
    text-align: center;
}

.image--card {
    margin: 1rem;

}
.image--tips {
    height: 0rem;
    margin: .5rem;
}

.title {
    text-align: center;
    margin: 2.5rem;
    font-size: 2em;
}

